In [22]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [23]:
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [24]:
df = pd.DataFrame(randn(6,2), hier_index,['A','B'])

In [25]:
df

             A         B
G1 1 -1.088636 -1.497221
   2  0.546366  0.403721
   3  1.446968 -0.037429
G2 1 -1.021939 -0.921132
   2 -0.901033 -0.223227
   3  0.489411 -1.519740

In [26]:
df.index.names = ['Groups', 'Nums']

In [27]:
df

                    A         B
Groups Nums
G1     1    -1.088636 -1.497221
       2     0.546366  0.403721
       3     1.446968 -0.037429
G2     1    -1.021939 -0.921132
       2    -0.901033 -0.223227
       3     0.489411 -1.519740

In [28]:
df.loc['G2'].loc[2]['A']

-0.9010329101638578

In [31]:
df.xs('G1')

             A         B
Nums
1    -1.088636 -1.497221
2     0.546366  0.403721
3     1.446968 -0.037429

In [30]:
df.xs(1, level='Nums')

               A         B
Groups
G1     -1.088636 -1.497221
G2     -1.021939 -0.921132